<p><%= comment.author.name %>: <%= comment.text%></p>
 <% if can? :delete, @comment %>
  <%= link_to "Delete", comment_path(@comment), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
