<main class="post-index">
  <%= render 'shared/user', user: @user %>
  <% @posts.reverse_each do |post| %>
    <div class="post-details">
      <%= render 'shared/post', post: post %>
      <div class="comment-container">
        <% post.recent_comments.reverse_each do |comment| %>
          <%= render 'shared/comment', comment: comment %>
        <% end %>
      </div>
    </div>
  <% end %>
  <button>Pagination</button>
</main>