@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}

html {
  color: #3a4a42;
}

a {
  text-decoration: none;
  color: inherit;
}

.user-container {
  display: flex;
  gap: 1.5rem;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 5px;
}

.image-container {
  width: 150px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 5px;
  background-color: goldenrod;
}

.text-container {
  flex: 1;
}

.text-container p {
  text-align: right;
}

main.user-index,
main.user-show,
main.post-index,
main.post-show {
  max-width: 750px;
  margin: 0 auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.bio {
  border: 1px solid #3a4a42;
  border-radius: 5px;
  padding: 0 1rem;
}

.post {
  border: 1px solid #3a4a42;
  border-radius: 5px;
  padding: 0 1rem;
}

.post p:nth-child(3) {
  text-align: right;
}

.user-show button {
  background-color: green;
  align-self: center;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5rem;
}

.post-details {
  border: 1px solid brown;
  border-radius: 5px;
}

.post-index .post:hover {
  background-color: lightblue;
}

.comment-container {
  padding: 0 1rem;
}

.post-in-show {
  border: 1px solid red;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-in-show p:nth-child(3) {
  width: 100%;
}
